/* default elements */

/* Layout */
body {
padding-bottom: 115px;
height: 100%;
min-height: 100vh;
position: relative;
margin: 0;
font-family: arial, Verdana,'Lucida Grande', Verdana, Helvetica, sans-serif;
background-color:#ffffff;
list-style:none;
line-height: 120%;
color: #333;
}

a {
color: #2d6da4;
text-decoration: none;
}

a:hover
{
color:#ff6600;
font-style:normal;
text-decoration:underline;
}

resultsameLength u {
text-decoration: none;
}

#main label
{
color:#006600;
margin-left: 3px;
margin-right: 3px;
margin-top: 5px;
margin-bottom: 5px;
}

.textLink
{
margin-right: 20px;
margin-bottom: 10px;
display: inline-block;
}

labelsameLength
{
margin-top: 5px;
margin-bottom: 5px;
display: inline-block;
width: 150px;
}

resultsameLength
{
display: inline-block;
width: 70%;
vertical-align: middle;
margin-top: 5px;
margin-bottom: 5px;
font-size: 0.9em;
}

#main summary
{
color:#505050;
margin-top: 5px;
font-size: 0.8em;
}

#main .line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
}

#main #content-container
{
width: 100%;
}

#sidebar {
float:right;
margin-left: auto;
margin-right: 15px;
width: 20%;
}

#cohort,#dataType,#dataset,#description,#samples,#host,#hub
{
margin-left: auto;
margin-right: 40px;
width: 80%;
}

.hubinfo
{
margin-left: auto;
margin-right: auto;
width: 60%;
}

#cohortList a
{
margin-top:15px;
margin-bottom:15px;
display: inline-block;
}

#bigDataSnippet
{
  width:95%;
  margin-left: auto;
  margin-right: auto;
}

h2, h3, h4 {
color:#404040;	
}

#dataType header,#samples header,#others header
{
font-size:1.2em;
}

#dataType ul
{
margin-top: 5px;
margin-bottom: 5px;
}

.vizbutton
{
padding: 3px 6px;
font-size:small;
margin: 5px 10px;
vertical-align: middle;
border: 1px solid #AFAFAF;
background: linear-gradient(#ddd, #f5f5f5);
}

.vizbutton:hover {
  color:#ff6600;
}

.dataSnippetTable
{
border-collapse:collapse;
width: 100%;
}

.dataSnippetTable tr td {
border: 5px solid rgb(225,225,225);
text-align: right;
word-wrap: break-word;
color: #505050;
font-size: 85%;
max-width: 100px;
min-width: 30px;
}


